.picture {
  position: relative;
  display: block;
  object-fit: cover;
}

.polarized {
  width: auto;
  flex-direction: column;
  padding: 10px 10px 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6), inset 0 -5px 50px rgba(0, 0, 0, 0.4);
  color: #333;
  text-align: center;
  text-decoration: none;
}

.polarized::after {
  display: block;
  min-height: 15px;
  content: attr(title);
  font-family: 'Indie Flower', cursive; /*var(--font-handwriting);*/
  font-size: 25px;
}

.photo {
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.photo::before {
  display: block;
  width: 100%;
  padding-top: 160%;
  content: '';
}

.photo > picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
}

.portrait .photo::before {
  padding-top: 110%;
}

.portrait > picture > img {
  max-width: none;
  min-height: auto;
  max-height: 100%;
}

.pin {
  position: absolute;
  z-index: 1001;
  top: -25px;
  left: 50%;
  display: block;
  width: 2px;
  height: 32px;
  background-color: #aaa;
}
