@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

:root {
  --text-color: #495057;
  --font-handwriting: 'Indie Flower', cursive;
  --font-interface: 'Kurale', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  margin: 0;
  background-image: url('../assets/images/background.png');
  color: var(--text-color);
  font-family: var(--font-interface);
}

.handwriting {
  font-family: var(--font-handwriting);
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    padding: 0;
    background: #eee;
  }
}

@media only print {
  html,
  body {
    padding: 0;
    background: transparent;
  }
}
